*{
	margin:0px;
	padding:0px;
}
body{
	width: 100%;
   height: 100%;
   background: url('imagenes/3.gif') 50% 50% no-repeat;
   background-size: cover;
}

#header h1{
	font-size: 60px;
}
nav{
    display:inline-block;  
	cursor:pointer;
}
menu{
    display:inline-block;
    vertical-align:top ;
    background:-moz-linear-gradient(#000040 0%, #0055FF 100%);
    background:-ms-linear-gradient(#000040 0%, #0055FF 100%);
    background:-o-linear-gradient(#000040 0%, #0055FF 100%);
    background:-webkit-linear-gradient(#000040 0%,#0055FF 100%);
    border-radius:10px;
    border:solid 1px #2AFFFF;
    margin:0px;
    color:#00D4FF;
    padding:10px;
    text-align:center;
    width:120px;
	font-size:15xp;
    transition:1s;
    }
nav menu b a{
	font-size:40xp;
}
menu:hover{
    background:-moz-linear-gradient(#09F 0%, #7FFFD4 100%);
    background:-ms-linear-gradient(#09F 0%, #7FFFD4 100%);
    background:-o-linear-gradient(#09F 0%,  #7FFFD4 100%);
    background:-webkit-linear-gradient(#09F 0%, #03F 100%);
    box-shadow:0 0 10px #fff;
    -moz-box-shadow:0 0 10px #;
    -ms-box-shadow:0 0 10px #fff;
    -o-box-shadow:0 0 10px #fff;
    -webkit-box-shadow:0 0 10px #fff;
    text-shadow:0 0 5px #FFF;
    -moz-text-shadow:0 0 5px #FFF;
    -ms-text-shadow:0 0 5px #FFF;
    -o-text-shadow:0 0 5px #FFF;
    -webkit-text-shadow:0 0 5px #FFF;
    padding:17px;
    font-size:22px;
    color:#FFFFFF;
}
menu:active{
	background-image:-webkit-gradient(linear,left top,left bottom, color-stop)
}

header h1{
	font-size: 50px;
	font-weight:  italic;
	margin: 0;
	padding: 0;
	color:#FFFFFF;
	font-family:Elephant, lucida Calligraphy,forte;
	text-align:center;
	position: relative;
	text-shadow: 10px 10px 10px #000;
}
aside{
	margin-top: 345px;
	background:none;
	width: 240px;
	height:100%;
	border-radius: 30px 30px 30px 30px;

}
ul li{
    -moz-border-radius:100px;
	background-image: -webkit-gradient(linear, justify top, justify bottom, from(#FFF), to(#CCC));
    background-image: -moz-linear-gradient(top justify, #FFF, #CCC);
    background-image: -o-linear-gradient(top, #FFF, #CCC);
    background-image: linear-gradient(top, #FFF, #CCC);
    overflow:hidden;
    padding:10px;
    position:static;
	transition:1s;
	width:120px;
	height:100%;	
}
 ul li:hover{
	background:-moz-linear-gradient(#AAFFFF 0%,#00FFFF 100%);
    background:-ms-linear-gradient(#AAFFFF 0%, #00FFFF 100%);
    background:-o-linear-gradient(#AAFFFF 0%,  #00FFFF 100%);
    background:-webkit-linear-gradient(#09F 0%, #03F 100%);
    box-shadow:0 0 10px #fff;
    -moz-box-shadow:0 0 10px #fff;
    -ms-box-shadow:0 0 10px #fff;
    -o-box-shadow:0 0 10px #fff;
    -webkit-box-shadow:0 0 10px #fff;
    text-shadow:0 0 5px #FFF;
    -moz-text-shadow:0 0 5px #FFF;
    -ms-text-shadow:0 0 5px #FFF;
    -o-text-shadow:0 0 5px #FFF;
    -webkit-text-shadow:0 0 5px #FFF;
    padding:7px;
    font-size:25px;
    color:#FFFFFF;
	text-align:center;
}
ul li{
	font-family:Baskerville Old Face, Rockwell Extra Bold;
	font-size:20px;
	text-align:left;
	color:#00002D;
}
A:link {text-decoration:none;color:#ffffff;}
A:visited {text-decoration:none;color:#000040;}
A:active {text-decoration:none;color:#ffffff;}
A:hover {text-decoration:none;color:#4b0082;}
A#opc:visited {text-decoration:none;color:#0080C0;}
A#opc:link {text-decoration:none;color:#ffffff;}
A#opc:active {text-decoration:none;color:blue;}
A#opc:hover {text-decoration:none;color:#ffffff;}
