<!DOCTYPE html>
<html lang="es">
	<head>
		
		<title>Proyecto </title>
		<link type="text/css" rel="stylesheet" href="/static/stylos.css"/>
		
	</head>
	<body >
		
	<header>
			<div id="header"><br/>
				<marquee><i><h1>Bienvenidos a TriviaOnline</h1></i></marquee>
				<center><nav>
					<menu ><b><a href="inicio.html"target="_blank">INICIO</a></b></menu>
					<menu ><b><a href="registro.html"target="_self">JUEGO</b></menu>
					<menu ><b><a href="plantillas/registro.html"target="_blank">REGISTRO</b></menu>
					<menu ><b><a href="login.html"target="_blank">LOGIN</a></b></menu>
					<menu ><b><a href="acerca_juego.html" target="_blank">BLOG</a></b></menu>
					
				</nav></center>
			</div>
		</header>  
	{% block title %}
       
    {% endblock %}
</head>
<body>

    
    {%block container%}

    {%endblock %}
</body>
</html>
